In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('raw_data.csv')

In [5]:
df.head(5)

,CustomerID,Age,Gender,Category,ItemPurchased,Amount,Season,PaymentMethod,ItemRating,DiscountApplied(%),PreviousPurchases
0,1,58,Female,Accessories,Handbag,115.50,Autumn,Card,3.5,18,4
1,2,40,Male,Mens Clothing,Shirt,103.43,Spring,Card,4.1,13,4
2,3,66,Female,Sports,Football,35.45,Spring,Card,3.3,11,3
3,4,39,Female,Accessories,Handbag,153.31,Spring,Card,4.4,13,4
4,5,23,Female,Home,Curtains,151.43,Winter,Card,4.1,20,10

In [6]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [7]:
df.columns

Index(['customerid', 'age', 'gender', 'category', 'itempurchased', 'amount',
       'season', 'paymentmethod', 'itemrating', 'discountapplied(%)',
       'previouspurchases'],
      dtype='object')

In [8]:
df.describe(include="all")

,customerid,age,gender,category,itempurchased,amount,season,paymentmethod,itemrating,discountapplied(%),previouspurchases
count,5000.000000,5000.000000,5000,5000,5000,5000.000000,5000,5000,5000.000000,5000.000000,5000.000000
unique,NaN,NaN,2,9,30,NaN,4,2,NaN,NaN,NaN
top,NaN,NaN,Female,Footwear,Sandals,NaN,Spring,Card,NaN,NaN,NaN
freq,NaN,NaN,2504,983,339,NaN,1300,4009,NaN,NaN,NaN
mean,2500.500000,45.224800,NaN,NaN,NaN,285.090522,NaN,NaN,3.784160,14.983600,5.008800
std,1443.520003,14.564995,NaN,NaN,NaN,551.454382,NaN,NaN,0.681796,5.988063,2.194285
min,1.000000,20.000000,NaN,NaN,NaN,5.080000,NaN,NaN,1.100000,0.000000,0.000000
25%,1250.750000,33.000000,NaN,NaN,NaN,70.547500,NaN,NaN,3.300000,11.000000,3.000000
50%,2500.500000,45.000000,NaN,NaN,NaN,122.485000,NaN,NaN,3.800000,15.000000,5.000000
75%,3750.250000,58.000000,NaN,NaN,NaN,184.535000,NaN,NaN,4.300000,19.000000,6.000000
max,5000.000000,70.000000,NaN,NaN,NaN,2997.940000,NaN,NaN,5.000000,36.000000,13.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerid          5000 non-null   int64
 1   age                 5000 non-null   int64
 2   gender              5000 non-null   object
 3   category            5000 non-null   object
 4   itempurchased       5000 non-null   object
 5   amount              5000 non-null   float64
 6   season              5000 non-null   object
 7   paymentmethod       5000 non-null   object
 8   itemrating          5000 non-null   float64
 9   discountapplied(%)  5000 non-null   int64
 10  previouspurchases   5000 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 429.8+ KB

In [10]:
df['customerid'] = df['customerid'].astype(object)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerid          5000 non-null   object
 1   age                 5000 non-null   int64
 2   gender              5000 non-null   object
 3   category            5000 non-null   object
 4   itempurchased       5000 non-null   object
 5   amount              5000 non-null   float64
 6   season              5000 non-null   object
 7   paymentmethod       5000 non-null   object
 8   itemrating          5000 non-null   float64
 9   discountapplied(%)  5000 non-null   int64
 10  previouspurchases   5000 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 429.8+ KB

In [12]:
df.isnull().sum()

customerid            0
age                   0
gender                0
category              0
itempurchased         0
amount                0
season                0
paymentmethod         0
itemrating            0
discountapplied(%)    0
previouspurchases     0
dtype: int64

In [13]:
df.describe()

,age,amount,itemrating,discountapplied(%),previouspurchases
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,45.224800,285.090522,3.784160,14.983600,5.008800
std,14.564995,551.454382,0.681796,5.988063,2.194285
min,20.000000,5.080000,1.100000,0.000000,0.000000
25%,33.000000,70.547500,3.300000,11.000000,3.000000
50%,45.000000,122.485000,3.800000,15.000000,5.000000
75%,58.000000,184.535000,4.300000,19.000000,6.000000
max,70.000000,2997.940000,5.000000,36.000000,13.000000

In [14]:
df.to_csv("cleaned_data.csv", index=False, encoding="utf-8-sig")

PermissionError: [Errno 13] Permission denied: 'cleaned_data.csv'